# Banco de dados
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=agendamento_db

# E-mail (webmail institucional - conta compartilhada Ciência de Dados)
MAIL_HOST=mail.marica.rj.gov.br
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=usuario@marica.rj.gov.br
MAIL_PASSWORD=
MAIL_FROM="Portal SEGET <cienciadados.seget@marica.rj.gov.br>"
# Intervalo mínimo/máximo (segundos) entre envios sequenciais, para não sobrecarregar o webmail institucional
MAIL_INTERVAL_SECONDS_MIN=2
MAIL_INTERVAL_SECONDS_MAX=
